body {
    background-image:url("bg.jfif");
}
  
.column {
    float: left;
    width: 30%;
    padding: 5px;
  }
  

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
 
  .row {
    display: flex;
  }
  
  .column {
    flex: 30%;
    padding: 5px;
<<<<<<< HEAD
  }
=======
  }
>>>>>>> e52df60eff8f923bc3fa8e934f361d8eb541273a
